header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	.filter {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			max-width: 100%;
			transition: all 1s;
			opacity: .9;
			background: $white;
		}
	.wrap {
		.logo {
			height: 100%;
			float: left;
			width: 30%;
			position: relative;
			z-index: 3;
			img {
				display: block;
				padding: 10px;
			}
		}
		nav {
			float: right;
			padding-top: 40px;
			padding-right: 1%;
			position: relative;
			z-index: 3;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					float: left;
					text-align: center;
					font-size: 1.6rem;
					padding-left: 20px;
					font-weight: 700;
				}
			}
		}
	}
}

.hamburger {
	display: none;
	position: fixed;
	z-index: 6;
	top: 25px;
	right: 5%;
	height: 30px;
	width: 30px;
	margin: 0;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: $red;
	border-radius: 9px;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.hamburger .one {
  	top: 0px;
}

.hamburger .two {
  	top: 10px;
}

.hamburger .three {
  	top: 20px;
}

.hamburger.active span:nth-child(1) {
  	top: 10px;
  	transform: rotate(135deg);
  	background: $red;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger.active span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  background: $red;
}