section.products {
	p {
		text-align: center;
	}
	.list {
		padding-top: 3%;
		a {
			color: $blue;
		}
		.product {
			float: left;
			width: 16.6%;
			text-align: center;
			p {
				font-size: 1.4rem;
			}
			.imgContainer {
				height: 100px;
				width:100px;
				margin: 0 auto;
				position: relative;
				img {
					max-height: 100px;
					width: auto;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
		}
	}
	.logo {
		width: 100px;
	}
}